<!DOCTYPE html>
<html lang="en">
  <head>
    <title>.:: WasteLoop Cleaners</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/animate.css">    
    
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
  
    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/style.css">
    
  </head>
  <body>
<!--   
  <div id="overlayer"></div>
  <div class="loader">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div> -->

  <div class="site-wrap">

    

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap js-site-navbar bg-white">
      
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="row align-items-center">
            <div class="col-2">
              <h2 class="mb-0 site-logo"><a href="/" class="font-weight-bold text-uppercase">WasteLoop Cleaners</a></h2>
            </div>
            <div class="col-10">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>
                  <ul class="site-menu js-clone-nav d-none d-lg-block">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                    <li class="active"><a href="/report">Report a Waste</a></li>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register"><span class="d-inline-block bg-primary text-white btn btn-primary">Register</span></a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {{#if success_messages}}
    <div class="alert alert-success alert-dismissible  show mt-2 auto-hide" role="alert" style="color: black">
      <strong>{{success_messages}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true"></span>
      </button>
    </div>
    {{/if}}
    
    {{#if error_messages}}
    <div class="alert alert-danger alert-dismissible  show mt-2 auto-hide" role="alert" style="color: black">
      <strong>{{error_messages}}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="close">
        <span aria-hidden="true"></span>
      </button>
    </div>
    {{/if}}
  
    <div class="slide-one-item home-slider owl-carousel">
      
      <div class="site-blocks-cover inner-page overlay" style="background-image: url(images/banner.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-6 text-center" data-aos="fade">
              <h1 class="font-secondary  font-weight-bold text-uppercase">Welcome to da Clean</h1>
            </div>
          </div>
        </div>
      </div>  

      <div class="site-blocks-cover inner-page overlay" style="background-image: url(images/banner3.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center" data-aos="fade">
              <h1 class="font-secondary font-weight-bold text-uppercase">Keep it clean</h1>
            </div>
          </div>
        </div>
      </div> 
    </div>

    <div class="slant-1"></div>

    <div class="site-section first-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12 text-center" data-aos="fade"> 
            <span class="caption d-block mb-2 font-secondary font-weight-bold">Outstanding Services</span>
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Love Us Dirt hub</h2>
          </div>
        </div>
        <div class="row border-responsive">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right" data-aos="fade-up" data-aos-delay="">
            <div class="text-center">
              <span class="flaticon-money-bag-with-dollar-symbol display-4 d-block mb-3 text-primary"></span>
              <h3 class="text-uppercase h4 mb-3">Minimised Cost</h3>
              <p>We run our services at a reduced cost.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right" data-aos="fade-up" data-aos-delay="100">
            <div class="text-center">
              <span class="flaticon-bar-chart display-4 d-block mb-3 text-primary"></span>
              <h3 class="text-uppercase h4 mb-3">Analytics</h3>
              <p>Trust us when it comes to this aspect.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0 border-right" data-aos="fade-up" data-aos-delay="200">
            <div class="text-center">
              <span class="flaticon-medal display-4 d-block mb-3 text-primary"></span>
              <h3 class="text-uppercase h4 mb-3">Experience</h3>
              <p>We have the best hands to tidy the environment.</p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="text-center">
              <span class="flaticon-box display-4 d-block mb-3 text-primary"></span>
              <h3 class="text-uppercase h4 mb-3">Proper Package</h3>
              <p>we don't litter, we Package dirt properly</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  <div class="site-half">
    <div class="img-bg-1" style="background-image: url('images/banner.jpg');" data-aos="fade"></div>
    <div class="container">
      <div class="row no-gutters align-items-stretch">
        <div class="col-lg-5 ml-lg-auto py-5">
          <span class="caption d-block mb-2 font-secondary font-weight-bold">Outstanding Services</span>
          <h2 class="site-section-heading text-uppercase font-secondary mb-5">Clean Disposal</h2>
          <p>we dispose our dirts in clean and proper ways that do not affect the eco system</p>

          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora distinctio ipsam nesciunt recusandae repellendus asperiores amet.</p>   -->
        </div>
      </div>
    </div>
  </div>

  <div class="site-half block">
    <div class="img-bg-1 right" style="background-image: url('images/banner3.jpg');" data-aos="fade"></div>
    <div class="container">
      <div class="row no-gutters align-items-stretch">
        <div class="col-lg-5 mr-lg-auto py-5">
          <span class="caption d-block mb-2 font-secondary font-weight-bold">Easy To Use Templates</span>
          <h2 class="site-section-heading text-uppercase font-secondary mb-5">Free HTML5 Templates</h2>
          <p> Try us to prevent this scene in your society. </p> 

          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempora distinctio ipsam nesciunt recusandae repellendus asperiores amet.</p>   -->
        </div>
      </div>
    </div>
  </div>

    
    
    <div class="site-section block-14 nav-direction-white">

      <div class="container">
        
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="site-section-heading text-center text-uppercase">Testimonials</h2>
          </div>
        </div>

        <div class="nonloop-block-14 owl-carousel">
          

            <div class="d-block block-testimony mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img src="images/person_1.jpg" alt="Image" class="img-fluid rounded-circle w-25 mx-auto">
              </div>
              <div>
                <h2 class="h5 mb-4">Katie Ogun</h2>
                <blockquote>&ldquo; It has been wonderful to always come home and find your waste bin clean &rdquo;</blockquote>
              </div>
            </div>

            <div class="d-block block-testimony mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img src="images/person_2.jpg" alt="Image" class="img-fluid rounded-circle w-25 mx-auto">
              </div>
              <div>
                <h2 class="h5 mb-4">Counsellor Edache</h2>
                <blockquote>&ldquo;They are Just the best.&rdquo;</blockquote>
              </div>
            </div>

            <div class="d-block block-testimony mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img src="images/person_3.jpg" alt="Image" class="img-fluid rounded-circle w-25 mx-auto">
              </div>
              <div>
                <h2 class="h5 mb-4">Mangut Jane</h2>
                <blockquote>&ldquo; I lack words to describe the satisfaction that i derive from this company. &rdquo;</blockquote>
              </div>
            </div>

            <div class="d-block block-testimony mx-auto text-center">
              <div class="person w-25 mx-auto mb-4">
                <img src="images/person_4.jpg" alt="Image" class="img-fluid rounded-circle w-25 mx-auto">
              </div>
              <div>
                <h2 class="h5 mb-4">Aroke Johnson</h2>
                <blockquote>&ldquo;They are not just the best, they are also cheap. &rdquo;</blockquote>
              </div>
            </div>

        </div>

      </div>
      
    </div>



    <div class="py-5 bg-primary">
      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-6 text-center mb-3 mb-md-0">
            <h2 class="text-uppercase text-white mb-4" data-aos="fade-up">Try Us</h2>
            <a href="/login" class="btn btn-bg-primary font-secondary text-uppercase" data-aos="fade-up" data-aos-delay="100">Login</a>
          </div>
        </div>
      </div>
    </div>


    

    <footer class="site-footer bg-dark">
      <div class="container">
        

     
        <div class="row text-center">
          <div class="col-md-12">
            <p>
             All rights reserved | Confluence Trio </a>
           
            </p>

            
          </div>
          
        </div>
      </div>
    </footer>
  </div>

  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>

  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
<script>
  $(document).ready(function () {
    setTimeout(function () {
      $('.auto-hide').slideUp(300);
    }, 7000);
  });
</script>
  
  </body>
</html>